* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 2rem;
}

button {
  margin: 2rem 0;
  padding: 1rem 2rem;
  width: 120px;
  cursor: pointer;
}

img {
  width: 120px;
}

.link {
  display: block;
  text-decoration: none;
  transition: all 250ms ease;
  margin: 2rem 0;
  padding: 1rem 2rem;
  width: 200px;
  cursor: pointer;
  border: 1px solid black;
  border-color: rgb(133, 133, 133);
  background-color: rgba(59, 59, 59, 0.1);
  border-radius: 3px;
  color: #000000;
  margin-right: 10px;
}

.link:hover {
  background-color: rgba(60, 60, 90, 0.2);
}

.box {
  display: flex;
}
